html, body {
    height: 100%;
    margin: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 80px 30px 80px 30px;
    position: relative;
}

.form {
    margin-top: 30px;
}

#unknownSubredditErrorBox, #noImagesFoundWarningBox, #downloadingInfoBox {
    display: none;
}
