html, body {
    height: 100%;
    margin: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 80px 30px 80px 30px;
    position: relative;
}

.form {
    margin-top: 35px;
}

.file-format-checkbox {
    margin: 0 0 0.5em !important;
}

#unknownSubredditErrorBox, #downloadingInfoBox {
    display: none;
}
